*.iml
.gradle
/slideDateTimePicker
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

slideDateTimePicker/build/intermediates/blame/res/androidTest/debug/single/layout.json

slideDateTimePicker/build/intermediates/blame/res/androidTest/debug/single/layout.json

slideDateTimePicker/build/intermediates/blame/res/androidTest/debug/single/layout.json

slideDateTimePicker/build/intermediates/blame/res/androidTest/debug/single/layout.json
